/* Colores */
$primary: rgb(234, 214, 218);
$secondary: rgb(181, 70, 181);
$alternativo: black;

/* Fuentes */
$font-principal: 'Trebuchet MS';
$font-secondary: 'Franklin Gothic Medium';


/* Espaciado */
$spacing-large: 17rem;
$spacing-medium: 2rem 0;
$spacing-small: 1.2rem;
$spacing-xsmall: 10px;

/* Tamaños de fuentes */
$large: 50px;
$medium: 32px;
$small: 1.5em;
$xsmall: 17px;
